.login-dark {
    height: 1000px;
    background: #475d62 url(../../../assets/img/login.jpg);
    background-size: cover;
    position: relative;
  }
  
  .login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
  }
  
  .login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
  }
  
  .login-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
  }
  
  .login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
  
  .login-dark form .btn-primary:active {
    transform: translateY(1px);
  }



  .notification {
    position: absolute; /* Position above other elements */
    top: 10px; /* Adjust top distance as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center properly */
    background-color: #000000; /* Red background for error */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb; /* Light red border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding for content */
    text-align: center;
    z-index: 1000; /* Ensure it appears above all other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    max-width: 90%; /* Adjust max width if needed */
  }
  
  