<br>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    
    
    <link rel="stylesheet" href="../../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/ionicons.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    
</head>
<app-popup *ngIf="isPreferencesEmpty"></app-popup>
<body>
    <header class="text-center text-white masthead" data-aos="fade-up" data-aos-duration="350">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0"><br>Learn New Skills&nbsp;<br></h1>
                <h2 class="masthead-subheading mb-0"><strong>Anytime, Anywhere!</strong><br><br></h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section data-aos="fade-up">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="../../../assets/img/Tempclipboard-image-1.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Learn at Your Own Pace<br></h2>
                        <p>Our courses are designed to fit your schedule, allowing you to study whenever and wherever works best for you. Access your courses 24/7 and learn at a speed that feels comfortable for you!<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="../../../assets/img/Tempclipboard-image.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Interactive Quizzes and Assignments<br></h2>
                        <p>Test your knowledge as you progress through each course with interactive quizzes and hands-on assignments. Reinforce your learning and track your progress with practical exercises that make learning engaging and fun.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="../../../assets/img/Tempclipboard-image-2.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Expert Instructors<br></h2>
                        <p style="margin-right: 0px;">Each course is created by experts who are passionate about sharing their insights and skills.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center" style="width: 100%;">Our web development team is responsible for creating and maintaining a smooth, reliable, and user-friendly experience on our eLearning platform. They work behind the scenes to ensure the site is fast, secure, and accessible on any device. With expertise in both front-end and back-end development, they make sure everything runs seamlessly, so you can focus on learning without any interruptions.<br></p>
            </div>
            <div class="row people" style="width: 100%;">
                <div class="col-md-6 col-lg-4 item" style="width: 50%;">
                    <div class="box"><img class="rounded-circle" src="../../../assets/img/Tempclipboard-image-5.png" style="height: 157px;width: 160px;">
                        <h3 class="name">Ben Ali Amen Allah</h3>
                        <p class="title">Web developer</p>
                        <p class="description">Étudiant passionné en Développement de Systèmes d'Information à l'ISET Rades, spécialisé dans le développement web. Je suis motivé par la création de solutions optimisées et innovantes<br></p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item" style="width: 50%;">
                    <div class="box"><img class="rounded-circle" src="../../../assets/img/Tempclipboard-image-3.png">
                        <h3 class="name">Heni Oussema</h3>
                        <p class="title">web developer</p>
                        <p class="description">Étudiant passionné en Développement de Systèmes d'Information à l'ISET Rades, spécialisé dans le développement web. Je suis motivé par la création de solutions optimisées et innovantes.&nbsp;<br></p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-clean" style="background: rgb(255,255,255);">
        <form method="post" style="background: rgb(238,244,247);">
            <h2 class="text-center">Contact us</h2>
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </section>
    <script src="../../../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>